<%- include('../partials/header') %>

    <a href="/">Home</a>
    |
    <a href="/skills">Current Languages</a>
    <br>
    <h3 class="skill-name"><%= skill.skill %></h3>

<%- include('../partials/footer') %>
